body{
background-image:url(../imagens/fundo02.gif);

}

#container{
    background-color: rgba(64, 209, 129, 0.479);
    width: 70%;
    margin: auto;
    padding: 15px; 


border-radius: 10px;
box-shadow: rgb(53, 6, 6) 50px 50px 50px;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    border-bottom: solid 5px;
    font-size: 50px;
   
   
}

h2{
    color: rgb(17, 55, 224);
    text-shadow: black 2px 2px 1px,black -1px -1px 3px;
    text-align: center;
}


 
